# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/

# Large Installers / Local Packages
koreader-*/
koreader-*.zip
koreader-*.tar.xz
*.tar.xz
*.zip
*.rar
*.tar.gz

# IDE and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Kindle/Local configs
local_config.json
*.key
*.pub
